APP_JWT_SECRET=replace-with-a-long-random-secret-at-least-32-characters
APP_JWT_EXPIRATION_MS=900000
APP_REQUIRE_SSL=false
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
APP_MONTHLY_ALLOWANCE=1500.00
APP_MONTHLY_ALLOWANCE_NOTE=Monthly allowance disbursement
APP_MONTHLY_ALLOWANCE_CRON=0 0 8 1 * *

APP_JWT_SECRET=So7WFCG0P2rlH2091t1JUYe34bqFtbene3mZ1E7WuMhXA77oV8sOq38yjFnzia6g


DB_URL=jdbc:postgresql://ep-shy-morning-ame8qfb0-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&user=neondb_owner&password=npg_oj6fpDTBm5CU